@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */

  /* Custom colors */
  /* --custom-blue: #1E90FF;
  --custom-pink: #FF69B4;
  --custom-purple: #800080; Add more colors as needed */
  --office-green: #00CA00;
  --hover-green: #077200;
  --dark-green: #162415ff;
  --isabelline: #FBF8F3ff;
}

@layer utilities {
  .bg-home-desktop {
    background-image: url('/assets/home_bg_desktop.jpg'); /* ✅ Background image set */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .bg-home-mobile {
    background-image: url('/assets/home_bg_mobile.jpg'); /* ✅ Background image set */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .bg-services {
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

/* it may be reflect window please check once */
html, body {
  overflow-x: hidden;
}

section {
  scroll-margin-top: 80px; /* Navbar jitna height ho, usse adjust kar */
}


